node_modules
*.tgz
*.local
backbone.sqlite
target

client/dist
client/build
client/node_modules
client/packages/design-system-lint/dist
e2e/node_modules
e2e/playwright-report
e2e/test-results
e2e/support/dist
pr-slide/dist

template/client/dist
template/client/build
template/client/node_modules
template/client/packages/design-system-lint/dist
template/e2e/node_modules
template/e2e/playwright-report
template/e2e/test-results
template/e2e/support/dist
template/pr-slide/dist
template/.agents/pr-presentation/**/dist
